#nav{
    height:75px;
    border-bottom:1px solid #ddd;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    background:#fff url(../images/nav background.jpg) repeat-x center left;
    z-index:999999;
}
